@import "tailwindcss";
:root {
  --background: #ffffff;
  --foreground: #171717;
}

.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: black;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  font-size: 72px;
}

.title:hover {
  text-decoration: underline;
}

.title:visited {
  text-decoration: none;
  color: red;
}
/* .title:hover {
  text-decoration: none;
  color: blue;
}
.title:focus {
  text-decoration: none;
  color: yellow;
} */
.title:hover,
.title:active {
  text-decoration: none;
  color: white;
}

.subhed:hover {
  cursor: pointer;
  text-decoration: line-through;
}

.subhed {
  bottom: 3%;
  position: fixed;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 70vh;
  justify-content: space-around;
  margin: 0 auto;
}
